:root {
    --image-max-width: 30%;
    --image-gap: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    user-select: none;
}

@font-face {
    font-family: 'Sohne';
    src: url('Fonts/Sohne Kraftig.ttf');
}

@font-face {
    font-family: 'Sohne-Leicht';
    src: url('Fonts/SOHNE-BUCH.TTF');
}

html, body {
    height: 100%;
    user-select: none;
}

.moving-banner {
    width: 100vw;
    height: 40px;
    background-color: rgb(185, 119, 255);
    font-family: 'Sohne';
    font-size: 1.2em;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
}

.background-color {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 200);
    z-index: -1;
    user-select: none;
}

.contribution-header {
    font-family: 'Sohne';
    color: rgb(43, 43, 43);
    font-size: 2.65em;
    font-weight: 200;
    text-align: left;
    position: absolute;
    top: 8.3%;
    left: 2%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
}

.contribution-header img {
    width: 110px;
    height: 110px;
    animation: rotate 10s linear infinite;
    user-select: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.contribution-content {
    padding: 20px;
    font-family: 'Sohne-Leicht';
    font-size: 1em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 23.5%;
    left: 0.5%;
    right: 0.5%;
    z-index: 1;
    line-height: 1.4;
    user-select: none;
}

.contribution-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Sohne';
    font-weight: 200;
    user-select: none;
}

.contribution-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.4;
    user-select: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.animal-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--image-gap);
    width: calc(100% - 10px);
    margin: 25px 5px 0 5px;
    padding: 0px;
    flex-grow: 1;
    user-select: none;
}

.animal-card {
    background-color: transparent;
    border: 2px solid rgb(35, 35, 35);
    border-radius: 15px;
    padding: 0px;
    width: 380px;
    text-align: right;
    margin: 0px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    font-family: 'Sohne-Leicht';
    user-select: none;
}

.animal-card p {
    font-size: 1em;
    margin: 30px 20px 20px 20px;
    line-height: 1.4;
    text-align: right;
    user-select: none;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0;
    background-color: transparent;
    user-select: none;
}

.images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    user-select: none;
}

.images img {
    width: 100%;
    border-radius: 10px;
    user-select: none;
}

.image-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    padding: 0 10px;
    overflow: hidden;
    user-select: none;
}

.image-grid img {
    width: calc(24% - 5px);
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;
    user-select: none;
}

.image-grid img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
    user-select: none;
}

.price-and-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
    user-select: none;
}

.price {
    font-family: 'Sohne';
    font-size: 2em;
    color: rgb(185, 119, 255);
    margin-right: 15px;
    user-select: none;
}

.box, .buy-button {
    border: 2px solid rgb(43, 43, 43);
    border-radius: 30px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Sohne';
    padding: 0 15px;
    background-color: transparent;
    color: rgb(43, 43, 43);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    user-select: none;
}

.box:hover, .buy-button:hover {
    background-color: rgb(237, 164, 54);
    color: white;
    border-color: rgb(237, 164, 54);
}

.box a, .buy-button a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-family: 'Sohne';
    transition: color 0.3s ease;
    user-select: none;
}

.box:hover a, .buy-button:hover a {
    color: white;
}

.return-home {
    padding-bottom: 0px;
    margin-left: 3px;
    user-select: none;
}

.return-home .box {
    border: 2px solid rgb(43, 43, 43);
    border-radius: 30px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Sohne';
    padding: 0 15px;
    background-color: transparent;
    color: rgb(43, 43, 43);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    margin-top: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    user-select: none;
}

.return-home .box:hover {
    background-color: rgb(237, 164, 54);
    color: white;
    border-color: rgb(237, 164, 54);
}

.return-home .box a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-family: 'Sohne';
    transition: color 0.3s ease;
    user-select: none;
}

.return-home .box:hover a {
    color: white;
}

.accordion {
    background-color: #f1f1f1;
    border-radius: 15px;
    margin: 10px 20px;
    font-family: 'Sohne-Leicht';
    color: rgb(43, 43, 43);
    user-select: none;
}

.accordion-button {
    background-color: #ccc;
    color: rgb(43, 43, 43);
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
    font-family: 'Sohne';
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.accordion-button::before {
    content: '';
    background: url('img/Arrow.webp') no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease, background 0.3s ease;
    margin-right: auto;
    user-select: none;
}

.accordion-button.active::before {
    transform: rotate(180deg);
}

.accordion-button:hover::before {
    background: url('img/Arrow Green.webp') no-repeat center center;
    background-size: contain;
}

.accordion-button:hover {
    background-color: #ddd;
}

.accordion-button.active {
    background-color: #ddd;
}

.accordion-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(200, 200, 200);
    transition: max-height 0.3s ease;
    text-align: right;
    user-select: none;
}

.accordion-content p {
    margin: 10px 0;
    text-align: right;
    user-select: none;
}